header{
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid green;
}

header .logo {
 
    flex: 1;

}
header h1 .logo_fc{
    margin-left: 50px;
    margin-top: 10px;
   border: solid green;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
header h1 .logo_fc:hover{
 background-color: rgb(138, 218, 138) ;

}

header a{
    text-transform: uppercase;
    color: green;
}
header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
    font-weight: bold;
}
header ul li:hover{
    opacity: 1;
   
}

.menu{
    display: none;
}
.cart-icon{
    position: relative;
    margin-right: 20px;
}
.cart-icon span{
    background:green;
    border-radius: 20px;
    color:white;
    position: absolute;
    top:-10px;
    right: -10px;
    padding: 5px 7px;
    font-size: 10px;
}